@font-face {
  font-family: 'Neue Haas Grotesk Display';
  src: url('NHaasGroteskDSPro-55Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display';
  src: url('NHaasGroteskDSPro-56It.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display';
  src: url('NHaasGroteskDSPro-65Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display';
  src: url('NHaasGroteskDSPro-66MdIt.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display';
  src: url('NHaasGroteskDSPro-75Bd.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display';
  src: url('NHaasGroteskDSPro-76BdIt.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Grotesk Text';
  src: url('NHaasGroteskTXPro-55Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Text';
  src: url('NHaasGroteskTXPro-56It.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Grotesk Text';
  src: url('NHaasGroteskTXPro-65Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Text';
  src: url('NHaasGroteskTXPro-66MdIt.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Grotesk Text';
  src: url('NHaasGroteskTXPro-75Bd.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Text';
  src: url('NHaasGroteskTXPro-76BdIt.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: 'Neue Haas Grotesk Text', sans-serif;
  font-size: 15px;
  color: black;
  /* background: #acacfc;
  background: linear-gradient(360deg, rgba(172, 172, 252, 1) 0%, rgba(9, 37, 121, 1) 35%, rgba(0, 0, 0, 1) 100%); */
}

h1 {
  font-family: 'Neue Haas Grotesk Text', sans-serif;
  font-size: 30px;
}

h2 {
  font-family: 'Neue Haas Grotesk Text', sans-serif;
  font-size: 20px;
}

li {
  font-family: 'Neue Haas Grotesk Text', sans-serif;
  font-size: 15px;
}

#name {
  flex: 1;
  font-family: 'Neue Haas Grotesk Text', sans-serif;
  font-size: 30px;
  text-align: center;
}

#jobTitle {
  font-family: 'Neue Haas Grotesk Text', sans-serif;
  font-size: 25px;
  text-align: center;
}

#body-background {
  color: white;
  background: #acacfc;
  background: linear-gradient(221deg, rgb(12, 250, 230) 0%, rgba(36, 189, 255, 1) 52%, rgba(0, 0, 0, 1) 100%);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#footer {
  font-family: 'Neue Haas Grotesk Text', sans-serif;
  font-size: 10px;
  text-align: center;
  margin-top: 50vh;
}

#contato {
  font-family: 'Neue Haas Grotesk Text';
  font-size: 20px;
  text-align: center;
}

#numbers {
  font-family: 'Neue Haas Grotesk Text';
  font-size: 15px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 100px;
  /* flex-direction: column; Deixar vertical */
}

#img-background {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  height: 150px;
  width: 270px;
}

#return-home {
  font-family: 'Neue Haas Grotesk Text', sans-serif;
  font-size: 15px;
  text-align: center;
}

#p-greetings {
  text-align: center;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
}

.horizontal-list {
  display: flex;
  gap: 16px;
  list-style: none;
  margin-left: auto;
  padding: 0;
}

#pfp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  justify-content: flex-start;
}